@import '../../constants/mixins.scss';

.order-container {
  padding: 2rem 1rem;

  .delivery-container,
  .item-container,
  .info-container {
    padding: 2rem;
    background-color: var(--shade-0);
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    @include mobile {
      padding: 1rem;
    }

    .title {
      margin-bottom: 1rem;
    }

    .item {
      display: flex;
      flex-direction: row;

      .name {
        flex: 1;
      }
      .price {
      }

      & + .itme {
        margin-top: 0.25rem;
      }
    }
  }

  .order-btn {
    width: 100%;
    padding: 1rem;
    font-size: 1.125rem;
  }
}
