.cover-container {
  width: 100%;

  .img {
    position: absolute;
    width: 100vw;
    height: 400px;
    left: 0;
    top: 0;
    background-color: var(--primary);
  }

  .title {
    width: 100%;
    height: calc(400px - 4rem);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    h2 {
      z-index: 1;
      padding-bottom: 2rem;
      font-size: var(--font-4xl);
    }
  }
}
