@import '../../../constants/mixins.scss';

.skeleton-list-container {
  margin-bottom: 4rem;

  h2 {
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .list {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    margin-bottom: -1rem;
    @include mobile {
      & {
        margin: 0 0.5rem -1rem 0.5rem;
      }
    }

    .item-container {
      display: inline-flex;
      flex-direction: row;
      width: 50%;
      padding: 2rem 0.5rem;
      border-bottom: 1px solid var(--border-color);

      @include tablet {
        & {
          width: 50%;
        }
      }
      @include mobile {
        & {
          width: 100%;
        }
      }

      .img {
        width: 10rem;
        height: 10rem;
        margin-right: 1rem;
        overflow: hidden;
        border-radius: 0.25rem;
        border-color: var(--border-color);
        background-color: var(--border-color);
      }

      .info {
        flex: 1;
      }

      .title {
        width: 40%;
        height: 1.4rem;
        background-color: var(--border-color);
        border-radius: 0.25rem;
        margin-bottom: 0.3rem;
      }
      .description {
        width: 50%;
        height: 1rem;
        background-color: var(--border-color);
        border-radius: 0.25rem;
        margin-bottom: 0.3rem;
      }
    }
  }
}
