@import '../../constants/mixins.scss';

.footer {
  padding: 2rem 0;
  background-color: var(--border-color);

  .footer-inner {
    padding: 0 0.5rem;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @include mobile {
    .footer-inner {
      max-width: 100%;
    }
  }
  @include tablet {
    .footer-inner {
      max-width: var(--tablet);
    }
  }
  @include desktop {
    .footer-inner {
      max-width: var(--desktop);
    }
  }
}
