@import '../../../constants/mixins.scss';

.category-container {
  margin-bottom: 6rem;
  position: relative;
  padding: 3rem 0;

  .bg {
    width: 300%;
    height: 100%;
    position: absolute;
    left: -100%;
    background-color: var(--primary);
    opacity: 0.2;

    top: 0;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
    position: relative;
  }

  .carousel {
    position: relative;
    min-height: 102px;

    .carousel__slider {
      min-height: 102px;
    }
  }

  .category-item {
    padding: 0 1rem;
    width: 100%;
    height: 100%;

    .link {
      display: block;
      width: 100%;
      height: 100%;

      .img {
        width: 100%;
        height: 100%;
        border-radius: 5rem;
        border: 1px solid var(--border-color);
        max-width: 72px;
        max-height: 72px;
        overflow: hidden;
        margin: auto;
        margin-bottom: 0.5rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      span {
        display: block;
        text-align: center;
      }
    }
  }

  .back-btn,
  .next-btn {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    appearance: none;
    outline: 0;
    border: 1px solid var(--border-dark-color);
    background-color: var(--bg-color);
    position: absolute;
    top: calc(50% - 1rem);

    @include mobile {
      & {
        display: none;
      }
    }
  }
  .back-btn {
    left: -3rem;
  }
  .next-btn {
    right: -3rem;
  }
}
