@import '../../../constants/mixins.scss';

.category-container {
  margin-bottom: 5rem;

  h2 {
    margin-bottom: 1.5rem;
  }

  .carousel {
    position: relative;
  }

  .category-item {
    padding: 0 1rem;
    width: 100%;
    height: 100%;
    .link {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .img {
        width: 100%;
        flex: 1;
        span {
          height: 100%;
          background-color: var(--primary);
          border-radius: 0.25rem;
        }
      }
      span {
        display: block;
        text-align: center;
      }
    }
  }

  .back-btn,
  .next-btn {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    appearance: none;
    outline: 0;
    border: 1px solid var(--border-dark-color);
    background-color: var(--bg-color);
    position: absolute;
    top: calc(50% - 1rem);

    @include mobile {
      & {
        display: none;
      }
    }
  }
  .back-btn {
    left: -3rem;
  }
  .next-btn {
    right: -3rem;
  }
}
