.signup-container {
  width: 100%;

  form {
    padding: 5rem 1rem;
    border: 1px solid var(--border-dark-color);
    background-color: var(--shade-0);
    margin-top: 3rem;
    border-radius: 0.5rem;
    text-align: center;

    h2 {
      margin-bottom: 0.5rem;
      font-size: var(--font-xl);
    }

    input {
      display: block;
      width: 100%;
      margin-bottom: 1rem;
      height: 2rem;
    }

    button {
      display: block;
      width: 100%;
    }

    .marginChange {
      margin-bottom: 0px;
    }

    .showErr {
      color: var(--primary);
      font-size: 13px;
      float: left;
      margin-bottom: 10px;
    }
  }
}