@import '../../../constants/mixins.scss';

.cover-container {
  width: 100%;
  margin-bottom: 4rem;

  .img {
    position: absolute;
    width: 100%;
    height: 400px;
    left: 0;
    top: 0;
    background-color: var(--border-dark-color);
    filter: brightness(0.5);
  }

  .title {
    width: 100%;
    height: calc(400px - 4rem);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    h2 {
      z-index: 1;
      padding-bottom: 2rem;
      font-size: 3.3rem;
      color: var(--shade-0);
      text-shadow: 0 0 0.5rem #00000099;

      @include mobile {
        & {
          padding: 0 0.5rem 2rem 0.5rem;
        }
      }
    }
  }
}
