@import '../../../constants/mixins.scss';

.delivery-info {
  margin-bottom: 2rem;
  padding-left: 1rem;
}

.react-tabs__tab-list {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
}

.react-tabs__tab {
  color: var(--text-color);
  font-size: 1.125rem;
  border-radius: 0;
}

.react-tabs__tab--selected {
  background-color: transparent;
  font-weight: bold;
  border: 1px solid transparent;
  border-bottom: 3px solid var(--text-color);
}

.ReactModal__Overlay {
  z-index: 100;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(200, 200, 200, 0.3) !important;
}

.ReactModal__Content {
  text-align: center;
  padding: 1rem !important;
  display: flex;
  flex-direction: column;

  @include mobile {
    & {
      top: 1rem !important;
      left: 1rem !important;
      right: 1rem !important;
      bottom: 1rem !important;
    }
  }
  @include tablet {
    & {
      min-width: 550px;
      top: 10% !important;
      left: 15% !important;
      right: 15% !important;
      bottom: 10% !important;
    }
  }
  @include desktop {
    & {
      min-width: 550px;
      top: 10% !important;
      left: 30% !important;
      right: 30% !important;
      bottom: 10% !important;
    }
  }

  .modal-title {
    padding: 1rem !important;
    font-size: 2rem;
    border-bottom: 1px solid var(--border-dark-color);
    margin-bottom: 1rem;

    span {
      font-size: 1rem;
      padding-left: 1rem;
      color: var(--shade-5);
    }
  }

  .modal-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    top: 2rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    outline: 0;
    border: 0;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      background-color: var(--bg-color);
    }
  }

  .modal-content {
    flex: 1;
    margin-bottom: 1rem;

    .img {
      width: 100%;
      text-align: center;
      margin-bottom: 1rem;

      img {
        @include mobile {
          & {
            width: 100%;
          }
        }
        @include tablet {
          & {
            width: 70%;
          }
        }
        @include desktop {
          & {
            width: 50%;
          }
        }
      }
    }
  }

  .modal-btn {
    background-color: var(--primary);
    border-radius: 0.25rem;
    line-height: 4rem;
    font-size: 1.125rem;
    cursor: pointer;
    color: var(--shade-0);
    transition: all 0.2s ease;

    &:hover {
      background-color: var(--primary-dark);
    }
  }
}
